{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


  <div class="row m-5 border rounded">

      <h1 class="m-5">This is profile page</h1>

      {% if messages %} {% for message in messages %}
      <small {% if message.tags %} class="{{message.tags}}" {% endif %}>
        <h2> Welcome {{name}} {{message}}</h2>
      </small>
      {% endfor %}
      {% else %}
      <h2 class="m-2"> Welcome {{name}}</h2>
      {% endif %}

      {% if users != None %}
      <h2 class="m-2"> All Users {{name}}</h2>
      
      {% for x in users  %}
       <h3><a href="{% url 'userdetail' x.id %}"><li> {{x}}</li></a> </h3>
      {% endfor %}
      {% endif %}
      
    <div class="col-6 border rounded p-4 m-4 ">

      <form action="" method="POST" id="officeform" novalidate>
        {%csrf_token%}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p>{{error}}</p>
        {% endfor %}
        {% endif %}
        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br> <br>
        {% endfor %}
        <input class='btn btn-info' type="submit" value="Save" />
      </form>
    </div>

    <div class="col-6 border rounded p-4 m-4 ">
      <a href="/changepass/">
        <h3>Chanage Password</h3>
      </a>
      <a href="/changepass1/">
        <h3>Set Password</h3>
      </a>
      <a href="/logout/">
        <h3>Logout</h3>
      </a>
      <a href="/">
        <h3>Home</h3>
      </a>
    </div>
  </div>

  {% endblock content %}